<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>398165952547-ut1hckskmpsrne51mhngi5sb4vh16is9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398165952547-ut1hckskmpsrne51mhngi5sb4vh16is9</string>
	<key>API_KEY</key>
	<string>AIzaSyB1NDaO4EGXUrqFiMH3hRG57z4Imw2mwoI</string>
	<key>GCM_SENDER_ID</key>
	<string>398165952547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tiffzilla.BearPax</string>
	<key>PROJECT_ID</key>
	<string>bearpax-625bf</string>
	<key>STORAGE_BUCKET</key>
	<string>bearpax-625bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:398165952547:ios:c08cc33bce4901d5</string>
	<key>DATABASE_URL</key>
	<string>https://bearpax-625bf.firebaseio.com</string>
</dict>
</plist>